KBS1SE/obj/Debug/*
KBS1SE.csproj.FileListAbsolute.txt
KBS1SE/obj/
*.pdb
*.exe
*.cache
.vs/KBS1SE/v15/.suo
.vs/KBS1SE/v15/.suo
.vs/KBS1SE/v15/.suo
.vs/KBS1SE/v15/sqlite3/storage.ide
KBS1SE/bin/Debug/KBS1SE.exe
.vs/KBS1SE/v15/sqlite3/storage.ide
.vs/KBS1SE/v15/sqlite3/storage.ide
.vs/KBS1SE/v15/sqlite3/storage.ide
.vs/KBS1SE/v15/sqlite3/storage.ide
.vs/KBS1SE/v15/sqlite3/storage.ide
.vs/KBS1SE/v15/sqlite3/storage.ide
.vs/KBS1SE/v15/sqlite3/storage.ide
.vs/KBS1SE/v15/sqlite3/storage.ide
.vs/KBS1SE/v15/sqlite3/storage.ide
.vs/KBS1SE/v15/sqlite3/storage.ide
.vs/KBS1SE/*
KBS1SE/bin/Debug/*
.vs/KBS1SE/v15/.suo
.vs/KBS1SE/v15/.suo
