
KBS1SE/obj/Debug/KBS1SE.pdb

KBS1SE/obj/Debug/KBS1SE.pdb

KBS1SE/obj/Debug/KBS1SE.exe

KBS1SE/obj/Debug/KBS1SE.csproj.GenerateResource.Cache
KBS1SE/obj/Debug/
KBS1SE.csproj.FileListAbsolute.txt

KBS1SE/obj/Debug/KBS1SE.csproj.CoreCompileInputs.cache
KBS1SE/obj/Debug/DesignTimeResolveAssemblyReferences.cache
KBS1SE/bin/Debug/KBS1SE.pdb
KBS1SE/bin/Debug/KBS1SE.exe
KBS1SE/obj/Debug/DesignTimeResolveAssemblyReferences.cache
KBS1SE/obj/Debug/DesignTimeResolveAssemblyReferences.cache
KBS1SE/obj/Debug/DesignTimeResolveAssemblyReferences.cache
KBS1SE/bin/Debug/KBS1SE.exe
KBS1SE/bin/Debug/KBS1SE.exe
KBS1SE/bin/Debug/KBS1SE.pdb
KBS1SE/obj/Debug/DesignTimeResolveAssemblyReferences.cache
KBS1SE/obj/Debug/KBS1SE.csproj.CoreCompileInputs.cache
KBS1SE/obj/Debug/KBS1SE.csproj.FileListAbsolute.txt
KBS1SE/obj/Debug/KBS1SE.csproj.GenerateResource.Cache
KBS1SE/obj/Debug/KBS1SE.exe
KBS1SE/obj/
*.pdb
*.exe
*.exe
*.cache
.vs/KBS1SE/v15/.suo
.vs/KBS1SE/v15/.suo
.vs/KBS1SE/v15/.suo
.vs/KBS1SE/v15/sqlite3/storage.ide
KBS1SE/bin/Debug/KBS1SE.exe
.vs/KBS1SE/v15/sqlite3/storage.ide
.vs/KBS1SE/v15/sqlite3/storage.ide
.vs/KBS1SE/v15/sqlite3/storage.ide
.vs/KBS1SE/v15/sqlite3/storage.ide
.vs/KBS1SE/v15/sqlite3/storage.ide
.vs/KBS1SE/v15/sqlite3/storage.ide
.vs/KBS1SE/v15/sqlite3/storage.ide
.vs/KBS1SE/v15/sqlite3/storage.ide
.vs/KBS1SE/v15/sqlite3/storage.ide
.vs/KBS1SE/v15/sqlite3/storage.ide
